<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .message
        {
           
            color: red;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bolder;
            display: flex;
            justify-content: center;
            margin-top: 20px;
          
        }
    </style>



    <link rel="stylesheet" href="/static/css/signin.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>




    <div class="sigin">

        <div class="header">
            <h2>Already have an account ?</h2>
        </div>



        <form action="" method="POST">

            {% csrf_token %}

              <div class="username"> 

                <!-- <label for="username">Enter a  username</label> -->
                <!-- <input type="text" name="username" id="username" placeholder="USERNAME">

            </div>  

          
        <div class="email">
             <!-- <label for="email">Enter your email </label> -->
              <input type="text" name="username" id="email" placeholder="USERNAME">

        </div>
          

        <div class="password">
                    <!-- <label for="password">Enter a password</label> -->
            <input type="password" name="password" placeholder="PASSWORD">

                </div>


                <!-- <div class="password1">
                    <!-- <label for="password1">Re-Enter your password</label> -->

                    <!-- <input type="password" name="password1" placeholder="RE-ENTER PASSWORD" class="nooutline">

                </div>  -->


                <div class="signinbutton">
                    

                    <button type="submit" class="sbt">signin</button>

                </div>


                <div class="createanaccount">
                    <a href="signup/">Create an account</a>
                </div>
            

                <div class="message">
                    {{message}}
                </div>

           




        </form>
    
</body>
</html>