<!DOCTYPE html>
<html lang="en">
<head>
  <style>
          
  </style>



    <link rel="stylesheet" href="/static/css/users.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERS</title>
</head>
<body>
    <!-- authenticated users name -->
    <!-- <a href="">

    </a> -->

    <div class="ul">

      
        {%for k in photos%}

         <!-- <img src="/media/{{k.photo}}" alt=""> -->

         <li><img src="/media/{{k.photo}}" alt=""><a href="/{{username}}/{{userid}}/chat/{{k.id}}">{{k.user}}</a></li>

        {%endfor%}
        
      

          




       

    
    </div>


    
</body>
</html>